 <div class='nested-feilds'>
  <div class="card" style="width: 18rem ">
    <div class="card-body">
      <div class="field" data-base_item_id = <%= Discount.pluck(:base_item_id) %>>
        <%= order_form.label :item %><br>
        <%= order_form.collection_select(:item_id, Item.available, 'id', 'name',  {prompt: 'Select Item'}, {class: "select"}) %>
      </div>
      <div class="field" id="onchange">
        <%= order_form.label :quantity %><br>
        <%= order_form.number_field :quantity, class: 'quantity' %>
      </div>
    </div>
    <%= link_to 'Remove Item', '#', class: 'remove_order_item' %>
  </div>
 </div>
